<!DOCTYPE html>

<html>

<head>
    <title>Sandbox Diary: HOME</title>
    <link rel="stylesheet" href="css/mainpage.css">
    <script src="js/mainpage.js"></script>
</head>

<body onload="settings()";>

    <header id="head"><button id="out"  onclick="redirect(1)";>Log out</button><h1>&nbsp;&nbsp;&nbsp;Sandbox Diary</h1></header>

    <div class="button" id="new" onclick="redirect(2)";><br><br><br>New Post</div> <div class="button" onclick="redirect(3)";><br><br><br>Old Posts</div> <div class="button" onclick="redirect(4)";><br><br><br>Calendar</div> <div class="button" onclick="redirect(5)";><br><br><br>Settings</div>

</body>

</html>