form{
    border: 3px solid #f1f1f1;
    width: 1000px;
}

body {background-color: #f5f5f5;}

input[type=text], input[type=password] {
    width: 33%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing:border-box;
    margin-left: 10px;
}

button {
    background-color: #6366f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 25%;
}

button:hover { background-color: #8A8AF3;}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
}

.cancelbtn:hover {background-color: #FF5F5F;}

.dark-mode {background-color: #142136;
    color: white;}

#loginPage{border: 3px dashed rgb(135, 165, 201);
    text-align: center;
    margin: auto;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;}

#signUp {width: 15%;}

#not {border: none;
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 0px;
    cursor: auto;
    margin-left: 10%;}

#rem {float: left;
    margin-left: 25%;}

#welcomeMsg {margin-left: 24px;}

#signUpPage {
    border: 3px dashed rgb(135, 165, 201);
    text-align: left;
    margin: auto;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 45px;
}

#pswConfirm {margin-left: 79px;}

#secAns {margin-left: 19%;}

#create {margin-left: 33%;}

#forgotPassPage {
    border: 3px dashed rgb(135, 165, 201);
    text-align: center;
    margin: auto;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 45px;
}

#newPass {text-align: center;}
#newPassword {margin-right: 17%;}
#newPassConfirm {margin-right: 25%;}