body {background-color: #f5f5f5;}

.box {text-align: left;
    border: 3px dashed rgb(135, 165, 201);
    width: 40%;
    margin: auto;
    margin-top: 3%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;}

#h {text-align: center;}

button {margin-right: 10px;
        background-color: #6366f1;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        border-radius: 10px;}

button:hover {background-color: #8A8AF3;}

#dark {margin-left: 205px;
        font-size: 15px;}

#small {font-size: 12px;} #medium {font-size: 16px;} #large {font-size: 20px;}

#sans {font-family: Arial, Helvetica, sans-serif; margin-left: 20px;} #serif {font-family: 'Times New Roman', Times, serif;}

.dark-mode {background-color: #142136;
            color: white;}

.back {margin-left: 5%;
    margin-top: 2%;}

#out {float: right;}

#head {overflow: auto;}